body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #5cc9a3;
  border-color: none;
  color: #ffffff;
}
